<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Search</title>
</head>
<body>
    <h1 align = "center">Bloglite</h1>
    <br>
    <a href="/{{user.username}}/dashboard">Dashboard</a>
    <br>
    <br>
    <a href="/{{user.username}}">Profile</a>
    <br>
    <br>
    <a href="/logout">Logout</a>
    <br>
    <br>
    <br>
    <br>
    {% if profiles %}
        {% for profile in profiles %}
            <div>
                {% if profile.username != user.username %}
                    <img src="\static\profile_pictures\{{profile.profile_picture}}" alt="Profile Picture" width="100" height="100">
                    <a href="/{{user.username}}/profile/{{profile.username}}">{{profile.first_name}} {{profile.last_name}}</a> | 
                    {% if profile.username in following %}
                        <a href="/{{user.username}}/unfollow/{{profile.username}}">Unfollow</a>
                    {% else %}
                        <a href="/{{user.username}}/follow/{{profile.username}}">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h5>{{mssg}}</h5>
    {% endif %}
</body>
</html>