<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Profile</title>
</head>
<body>
    <h1 align="center">Bloglite</h1>
    <br>
    <a href="/{{user.username}}/dashboard">Dashboard</a>
    <br>
    <br>
    <img src="\static\profile_pictures\{{profile.profile_picture}}" alt="Profile Picture" width="100" height="100"><h1>{{profile.first_name}} {{profile.last_name}}</h1>
    {% if profile.username in following %}
        <a href="/{{user.username}}/unfollow/{{profile.username}}">Unfollow</a>
    {% else %}
        <a href="/{{user.username}}/follow/{{profile.username}}">Follow</a>
    {% endif %}
    <br>
    <br>
    {% for post in posts %}
        <div>
            <h2>{{post.title|safe}}</h2>
            <p>{{post.content|safe}}</p>
        
        <br>
            {% if post.image %}
                <img src="\static\post_images\{{post.image}}" alt="Post Image" width="100" height="100">
                <br>
            {% endif %}
        
        {% if post.post_id in liked_posts %}
            <a href="/{{user.username}}/post/unlike/{{post.post_id}}">Unlike</a>
        {% else %}
            <a href="/{{user.username}}/post/like/{{post.post_id}}">Like</a>
        {% endif %}
        <br>
        <form action="/{{user.username}}/post/comment/{{post.post_id}}" method="POST">
            <input type="text" name="comment" placeholder="Comment">
            <input type="submit" value="Comment">
        </form>
        </div>
    {% endfor %}
</body>
</html>